.photo-gallery-container {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  height: 100svh;
  width: fit-content;
  background-color: black;
  color: white;
  animation: fadeIn 1s ease-in-out forwards;
}
.photo-gallery-parallax {
  position: relative;
  z-index: 2;
  min-height: 75vh;
  display: grid;
  grid-template-areas: "stack";
  overflow: auto;
}
.photo-gallery-parallax > * {
  grid-area: stack;
}
.photo-gallery-parallax-hidden {
  visibility: hidden;
}
.photo-gallery-background {
  position: relative;
  height: 100svh;
  width: 100svw;
  background-color: black;
}
.photo-gallery-header {
  position: fixed;
  display: flex;
  width: 100svw;
  height: 100svh;
  justify-content: center;
  align-items: flex-start;
  overflow: hidden;
  z-index: 0;
  .header-text {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 2;
    top: 4rem;
  }
  h1 {
    font-size: 40px;
  }
  h2 {
    font-size: 25px;
  }
  .header-image {
    position: absolute;
    width: 100vw;
    mask-image: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 1) 50%,
      transparent 100%
    );
  }
  .header-links {
    display: flex;
    z-index: 1;
    margin-top: 2rem;
    padding: 1rem;
    column-gap: 2rem;
    color: rgb(252, 252, 252);
    font-size: 35px;
    border-radius: 50px;
    justify-content: center;
    align-items: center;
  }
  .header-link {
    display: flex;
    justify-content: center;
    align-items: center;
    height: fit-content;
    a {
      display: flex;
      height: 100%;
      width: 100%;
      justify-content: center;
      align-items: center;
    }
  }
  .my-logo {
    display: flex;
    height: 2rem;
    width: auto;
  }
}
.photo-gallery-list {
  margin-left: auto;
  margin-right: auto;
  margin-top: 20rem;
  column-gap: 10px;
  row-gap: 10px;
  box-shadow: -5px -10px 30px black;
  padding: 20px 20px 20px 20px;
  box-sizing: border-box;
  position: relative;
  background-color: black;
  z-index: 2;
}
.photo-item {
  img {
    width: 100%;
    border-radius: 10px;
    margin-bottom: 4px;
  }
}
.photo-item-container {
  position: absolute;
  z-index: 0;
  display: flex;
  height: 100%;
  width: 100%;
  overflow: auto;
  justify-content: center;
}
.photo-item-details {
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
  justify-content: center;
  align-items: flex-start;
  padding: 20px;
  width: 100svw;
  height: fit-content;
  background-color: black;
  .photo-item-image {
    display: flex;
    width: 100%;
    img {
      width: 100%;
      height: auto;
      border-radius: 10px;
    }
  }
  .photo-item-links {
    display: flex;
    font-size: 25px;
    width: 100%;
    column-gap: 0.5rem;
    justify-content: flex-end;
    align-items: center;
  }
  .photo-back-button {
    display: flex;
    font-size: 30px;
  }
}
@media screen and (min-width: 1200px) {
  .photo-gallery-list {
    width: 70%;
    columns: 4;
  }
  .photo-item-details {
    width: 70%;
  }
}

@media (min-width: 993px) and (max-width: 1199px) {
  .photo-gallery-list {
    columns: 4;
  }
}

@media (min-width: 600px) and (max-width: 992px) {
  .photo-gallery-list {
    columns: 3;
  }
}
@media screen and (max-width: 599px) {
  .photo-gallery-list {
    columns: 2;
    padding: 10px 10px 10px 10px;
  }
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
