.photo-gallery-container {
  position: absolute;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  height: 100svh;
  width: fit-content;
  background-color: black;
  color: white;
  animation: fadeIn 1s ease-in-out forwards;
}
.photo-gallery-parallax {
  position: relative;
  z-index: 2;
  min-height: 75vh;
  display: grid;
  grid-template-areas: "stack";
  overflow: auto;
}
.photo-gallery-parallax > * {
  grid-area: stack;
}
.photo-gallery-parallax-hidden {
  visibility: hidden;
}
.photo-gallery-background {
  position: relative;
  height: 100svh;
  width: 100svw;
  background-color: black;
}
.photo-gallery-header {
  position: fixed;
  display: flex;
  width: 100svw;
  height: 100svh;
  justify-content: center;
  align-items: flex-start;
  overflow: hidden;
  z-index: 1;
  .header-text {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 2;
    top: 8rem;
  }
  .header-image {
    position: absolute;
    mask-image: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 1) 50%,
      transparent 100%
    );
  }
}
.photo-gallery-list {
  margin-left: auto;
  margin-right: auto;
  margin-top: 20rem;
  column-gap: 6px;
  row-gap: 6px;
  box-shadow: -5px -10px 30px black;
  padding: 20px 20px 20px 20px;
  box-sizing: border-box;
  position: relative;
  background-color: black;
  z-index: 2;
}
.photo-item {
  img {
    width: 100%;
    border-radius: 5px;
  }
}
.photo-item-container {
  position: absolute;
  z-index: 0;
  display: flex;
  height: 100%;
  overflow: auto;
}
.photo-item-details {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding: 20px;
  width: 100svw;
  height: fit-content;
  background-color: black;
  img {
    width: 100%;
    height: auto;
    border-radius: 5px;
  }
}

@media screen and (min-width: 1200px) {
  .photo-gallery-list {
    width: 70%;
    columns: 4;
  }
}

@media (min-width: 993px) and (max-width: 1199px) {
  .photo-gallery-list {
    columns: 4;
  }
}

@media (min-width: 600px) and (max-width: 992px) {
  .photo-gallery-list {
    columns: 3;
  }
}
@media screen and (max-width: 599px) {
  .photo-gallery-list {
    columns: 2;
    padding: 10px 10px 10px 10px;
  }
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
